@import './helpers/variables';

@keyframes stroke-animation {
  0% {
    stroke: var(--accent-1);
  }
  25% {
    stroke: var(--accent-2);
  }
  50% {
    stroke: var(--accent-1)
  }
  70% {
    stroke: var(--accent-2);
  }
  100% {
    stroke: var(--accent-1)
  }
}

#work-wise__content {
    transition: width .5s ease-in-out, height .5s ease-in-out;
    position: fixed;
    border-radius: 50%;
    z-index: 2147483647;
    cursor: pointer;
    
    transform: scale(.25) !important;
    transition: transform .5s ease-in-out;


    .time-left {
        font-size: 55px;
        position: absolute;
        font-weight: 500;
        top: 50%;
        left: 50%;
        z-index: 999999;
        transform: translate(-50%, -50%);
        color: var(--primary-1)
    }
    
    #work-wise__blobSvg {
        animation: stroke-animation 3s ease infinite;
        stroke-width: 10;
        
        path {
            fill: var(--background-2);
        }
        
        &.active path {
            stroke-width: 50;
            fill: url(#gradient);
        }
    }

    #work-wise__content-container {
        visibility: hidden;
    }

    &.input-active {
        width: fit-content;
        height: fit-content;

        transform: scale(1) !important;

        #work-wise__content-container {
            visibility: visible;
        }

        svg path {
            stroke-width: 5 !important;
            fill: var(--background-2) !important;
        }

        .time-left {
            visibility: hidden;
        }
    }

    #work-wise__input-wrapper {
        position: absolute;
        top: 50%;
        z-index: 9;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--primary-1);
        width: 60%;
        flex-direction: column;

        .time, .date {
            font-size: 16px;
            font-weight: 500;
            padding: 4px 0;
            color: inherit;
        }
        
        .reminder {
            text-align: center;
            padding: 4px 0;
            font-weight: 500;
            width: 100%;
            font-size: 16px;
            color: var(--accent-1);
            
        }

        input {
            border-radius: 50px;
            padding: 4px 8px;
            border: none;
            font-size: 14px;
            background: var(--background-1);
            color: var(--primary-1);
            border: 2px solid transparent;
            transition: border 0.15s ease;
            width: inherit;
            
            &:focus-visible {
                outline: none;
            }
          
            &:focus {
                border-color: var(--accent-1);
            }
        }
    }
}
