:root {
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #17a2b8;
}

.light {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-light: #edf2f4;
  --background-mid: #f5ebe0;
  --background-dark: #f2e9e4;
  --text-light: #003566;
  --text-mid: #001d3d;
  --text-dark: #000814;
}

.dark {
  --primary-color: #db5d09db;
  --secondary-color: #5e5e5e;
  --background-light: #6a040f;
  --background-mid: #370617;
  --background-dark: #03071e;
  --text-light: #f8edeb;
  --text-mid: #ffd7ba;
  --text-dark: #fec89a;
}

// FONT
$default-font-size: 1.6rem;