:root {
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #17a2b8;
}

.light {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-light: #f8f9fa;
  --background-mid: #eeeeee;
  --background-dark: #d6d6d6;
  --text-light: #333333;
  --text-mid: #555555;
  --text-dark: #777777;
}

.dark {
  --primary-color: #db5d09db;
  --secondary-color: #5e5e5e;
  --background-light: #4d4d4d;
  --background-mid: #333333;
  --background-dark: #1a1a1a;
  --text-light: #ffffff;
  --text-mid: #cccccc;
  --text-dark: #b3b3b3;
}

// FONT
$default-font-size: 1.6rem;