:root {
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #17a2b8;
}

.light {
  --background-1: #EDEDE9;
  --background-2: #FFFFFF;
  --primary-1: #323643;
  --primary-2: #9CA3B0;
  --accent: #F6BD60;
  --shadow: rgba(217, 217, 217, 0.2);
}

.dark {
  --primary-color: #db5d09db;
  --secondary-color: #5e5e5e;
  --background-light: #6a040f;
  --background-mid: #370617;
  --background-dark: #03071e;
  --text-light: #f8edeb;
  --text-mid: #ffd7ba;
  --text-dark: #fec89a;

    
  --background-1: #2E2F36;
  --background-2: #1C1D21;
  --primary-1: #FFFFFF;
  --primary-2: #D9D9D9;
  --accent: #7B62FF;
  --shadow: #00000080;
}


// FONT
$font-heading-1: 2.8rem;
$font-heading-2: 2.2rem;
$font-heading-3: 1.8rem;
$font-body-text: 1.6rem;