.clock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.75rem;
  width: 100%;
  font-weight: bold;
  
  .time, .date {
    font-size: $font-heading-3;
    font-weight: 400;
  }
}