.loading-spinner-container {
  display: flex;
  align-items: center;
	flex-direction: column;

	.text {
		font-size: 1.2rem;
		padding-top: 1rem;
		color: var(--primary-2);
	}

	.loading-spinner {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		position: relative;
		animation: rotate 1s linear infinite;

		&::before, 
		&::after {
			content: "";
			box-sizing: border-box;
			position: absolute;
			inset: 0px;
			border-radius: 50%;
			border: 5px solid var(--primary-2);
			animation: prixClipFix 2s linear infinite ;
		}

		&::after {
			border-color: var(--accent-1);
			animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
			inset: 6px;
		}
	}
}

@keyframes rotate {
	0%   {transform: rotate(0deg)}
	100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
		0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
		25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
		50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
		75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
		100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-progress-bar {
  background: grey;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
	margin: .8rem 0;
  height: .8rem;

  span {
    display: block;
  }

  .bar {
    background: grey;
  
    .progress {
      animation: loader .6s ease forwards;
      background: var(--success-color);
      color: #fff;
      padding: 1rem;
      width: 0;
    }
  }
}

@keyframes loader {
	0% {
		width: 0;
	}

	20% {
		width: 10%;
	}

	25% {
		width: 24%;
	}

	43% {
		width: 41%;
	}

	56% {
		width: 50%;
	}

	66% {
		width: 52%;
	}

	71% {
		width: 60%;
	}

	75% {
		width: 76%;
    
	}

	94% {
		width: 86%;
	}

	100% {
		width: 100%;
	}
}