.quote {
  padding: .5rem 1rem;

  .sidekick {
    position: relative;
    font-size: $font-heading-2;
    line-height: 1.1;
    font-weight: 300;
    text-align: center;
    color: var(--primary-1);

    p:before,
    p:after {
      font-family: Calibri;
      color: var(--accent);
    }

    p:after {
      content: '\201c';
    }

    p:before {
      content: '\201e';
    }

    cite {
      font-size: 50%;
      text-align: center;
      top: 50%;
      color: var(--primary-2);

      &:before {
        content: '\2015';
      }
    }
  }
}