/* Universal Reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  transition: background .150s ease, border .150s ease;
}

*::-webkit-scrollbar-track {
  background: var(--background-2);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: var(--background-1);
  border: 2px solid var(--accent);
  border-radius: 20px;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', serif;
  width: 330px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  background-color: black;
}

#Work-Wise {
  background: var(--background-1);
  color: var(--primary-1);
  padding: 1.2rem;
  transition: background .150s ease, color .1s ease;
  position: relative;
}