/* Universal Reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  transition: background .2s linear, border .2s linear;
}

*::-webkit-scrollbar-track {
  background: var(--background-dark);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: var(--background-dark);
  border: 2px solid var(--text-light);
  border-radius: 20px;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', serif;
  width: 300px;
  max-width: 350px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
  background-color: black;
}

#Work-Wise {
  background: var(--background-dark);
  color: var(--text-light);
  padding: 2rem;
  transition: background .2s linear, color .1s linear;
  position: relative;

  .navigation-container {
    padding-top: 10px;
    text-align: end;

    .link {
      align-self: end;
      padding: 5px 10px;
      text-decoration: none;
      font-size: 1.5rem;
      color: var(--text-light);
      text-transform: capitalize;
      text-align: end;
      
      &:hover {
        color: var(--primary-color)
      }
    }
  }
}